.projects {
   width: 100%;
   padding-block: clamp(80px, 10vw, 160px);
}

.projects__heading {
   margin-bottom: clamp(40px, 5vw, 72px);
}

.projects__title {
   font-size: clamp(2.5rem, 5vw, 5rem);
}

.projects__list {
   display: flex;
   flex-direction: column;

   gap: clamp(80px, 10vw, 160px);
}

@media (max-width: 600px) {
   .projects {
      padding-block: 80px;
   }

   .projects__heading {
      margin-bottom: 40px;
   }

   .projects__list {
      gap: 80px;
   }
}